button{
    background-color: blue;
    padding: 5px 20px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    cursor: pointer;
    outline: transparent;
}

.bar{
    height: 80px;
    background-color: yellowgreen;
    margin-bottom: 40px;
}